version: '{build}'
skip_tags: true
image:
  - Visual Studio 2019
  - Ubuntu1804
configuration: Release
test: off
install:
  - ps: ./setup.ps1
build_script:
  - ps: dotnet --info
  - ps: dotnet --list-sdks
  - ps: ./build.ps1
for:
-
  matrix:
    only:
      - image: Ubuntu1804
  build_script:
  - dotnet --info
  - dotnet --list-sdks
  - pwsh -v
  - sh build.sh
artifacts:
- path: artifacts/Kmd.Logic.Audit.Client*.nupkg
deploy:
- provider: NuGet
  api_key:
    secure: jCASBno3JVyMYxUXMd5rqH9SiHQ+4h2ci8W2LaCbOWTr1rb5wcpDG2+ToCYpZftv
  skip_symbols: true
  on:
    branch: /^(master|dev)$/
    CI_WINDOWS: true
- provider: GitHub
  auth_token:
    secure: y5RE7bzWxiAf2xs9Qmf0KePK5UrLnwDNhwAT7W4AxT2bWH1s6R9LGQ8I02DJXMWt
  artifact: /Kmd.Logic.Audit.Client.*\.nupkg/
  tag: v$(appveyor_build_version)
  on:
    branch: master
    CI_WINDOWS: true